<div class="row-fluid">
  <%= render "menu" %>
  <div class="span10">
    <%- model_class = @operador.class -%>
    <div class="page-header">
      <h1>Cadastrar Operador</h1>
    </div>
    <%= render :partial => 'form' %>
  </div>
</div>

