<div class="row-fluid">
	<div class="span2">
		&nbsp;
	</div>
	<div class="span8">
		<div class="page-header">
			<h1>Cadastro de novos usuários</h1>
		</div>
		<%= render :partial => "devise/registrations/form"%>
		<%= render :partial => "devise/shared/links" %>
	</div>
	<div class="span2">
		&nbsp;
	</div>
</div>

