<div class="row-fluid">
  <div class="span1">&nbsp;</div>
  <div class="span10">
    <div class="hero-unit">
      <h1>Bem-vindo(a), <%= exibir_primeiro_nome(usuario_atual.nome) %>!</h1><br />
      <p>Essa é sua página inicial do sistema. Na barra de navegação acima, você pode ter acesso às suas funcionalidades de acordo com a sua conta de usuário.</p>
    </div>
  </div>
  <div class="span1">&nbsp;</div>
</div>

