<div class="row-fluid">
	<div class="span1">
		&nbsp;
	</div>
	<!-- bloco de login -->
	<div class="span4">
		<div class="page-header">
			<h1>Já sou cadastrado</h1>
		</div>
	    <%= render :partial => "devise/sessions/form"%>
	</div>
	<!-- fim do bloco de login -->
	<div class="span2">
		&nbsp;
	</div>
	<!-- bloco de cadastro -->
	<div class="span4">
		<div class="page-header">
			<h1>Quero me cadastrar</h1>
		</div>
		<%= render :partial => "devise/registrations/form" %>
	</div>
	<!-- fim do bloco de cadastro -->
	<div class="span1">
		&nbsp;
	</div>
</div>