<div id="mapa_fill_screen" class="fill_screen">
  <script type="text/javascript">
      var divHeight = document.documentElement.clientHeight;
      document.getElementById('mapa_fill_screen').style.height = (divHeight-100+29)+"px";
  </script>
  <%= gmaps("map_options" => {
            :center_latitude => "-22.890209",
            :center_longitude => "-43.296562",
            :type => "HYBRID",
            :zoom => 11,
            :auto_adjust => false
            },
            :markers => {"data" => denuncias}
      ) %>
</div>

<% denuncias_objeto.each do |d| %>
    <%= render :partial => "denuncias/modal", :locals => {:d => d} %>
<% end %>