<div class="span2">
  <ul class="nav nav-list">
    <li class="nav-header">
      Denúncias
    </li>
    <li class="active">
      <a href="#">Todas</a>
    </li>
    <%#*<li>%>
      <%#*<a href="#">Rejeitadas</a>%>
    <%#*</li>%>
    <%#*<li>%>
      <%#*<a href="#">Canceladas</a>%>
    <%#*</li>%>
    <%#*<li>%>
      <%#*<a href="#">Resolvidas</a>%>
    <%#*</li>%>
  </ul>
</div>