<div id=<%= "myModal#{d.id}" %> class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby=<%= "myModalLabel#{d.id}" %> aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <p id="myModalLabel" style="font-style: italic;">Foto da Denúncia #<%= d.id%></p>
  </div>
  <div class="modal-body">
    <%= image_tag d.foto.url, {:width => "540px"} %>
  </div>
</div>