<div class="row-fluid">
  <%= render "menu" %>
  <div class="span10" style="height:600px">
    <%= render "mapa_fill_screen", :denuncias => @denuncias, :denuncias_objeto => @denuncias_objeto %>
  </div>
</div>
