<div class="jumbotron" style="margin-left: 10%; margin-right: 10%;">
   <h1 style="text-align: center;">Colabore com a redução dos focos de dengue!</h1>
   <p class="lead" style="text-align: center;">Quantas vezes você já não viu um foco de dengue numa casa vizinha, no trabalho ou em locais públicos
   e não sabia como poderia denunciar isto de forma pública. Além disso, imagine você poder acompanhar quantos focos de dengue
     existem perto de você. Saiba como colaborar abaixo.</p>
</div>
<hr>
<div class="row-fluid">
    <div class="span3">
        <h4>1. Baixe o aplicativo Android</h4>
        <p>Clique no link abaixo para baixar o aplicativo Android e instale-o.</p>
      <h3 style="text-align: center;"><a href="http://goo.gl/cl7ZH">http://goo.gl/cl7ZH</a></h3>
    </div>
    <div class="span3">
        <h4>2. Publique denúncias</h4>
        <p>Com a aplicação instalada é simples denunciar: tire uma foto, espere a aplicação obter a sua localização e pronto!
        <br>E sem necessidade de registrar e de forma anônima.</p>
    </div>
    <div class="span3">
        <h4>3. Veja denúncias de outros usuários</h4>
        <p>Você pode ver as denúncias feitas por outros usuários tanto na aplicação Android, quanto através deste site.
        <br>Além disso, não é necessária a publicação de denúncias para ver as denúncias de outros usuários.</p>
    </div>
    <div class="span3">
      <h4>4. Acompanhe suas denúncias</h4>
      <p>Tão importante quanto criar uma denúncia é atualizar sua situação. Basta se cadastrar no site informando um e-mail, senha e identificando seu celular ou tablet.
      <br>Mesmo com esse registro, seu anonimato continua garantido.</p>
    </div>
  </div>  <br/>
  <div class="row-fluid" style="text-align: center;">
    <%= link_to "Pronto! Clique aqui para voltar ao site", root_path, :class => "btn btn-large btn-primary" %>
  </div>

