<div class="row-fluid marketing">
  <div class="span1">&nbsp;</div>
  <div class="span10">
    <div class="jumbotron">
      <h1 style="text-align: center;">Instale o DengueApp em seu telefone Android de 2 modos</h1>
    </div>
    <hr />
    <div class="row-fluid">
      <h2 style="text-align: center;"><a href="http://goo.gl/cl7ZH">http://goo.gl/cl7ZH</a></h2>
      <p class="muted" style="text-align: center;">Versão atual: 1.0rc - 17/01/2013</p>
    </div>
    <br />
    <div class="row-fluid">
      <div class="span6">
        <h4>Diretamente no celular (Recomendado)</h4>
        <p>Basta acessar o link acima a partir do navegador de seu telefone e o download começará instantâneamente. Quando terminar, a instalação será iniciada automaticamente.</p>
      </div>
      <div class="span6">
        <h4>Copiando arquivo de instalação</h4>
        <p>Clique no link acima para baixar o instalador em seu computador e depois transfira-o para seu celular. Já no seu telefone, abra o arquivo para instalá-lo.</p>
      </div>
    </div>
  </div>
  <div class="span1">&nbsp;</div>
</div>